In [ ]:
#meteociel data and into csv => ttl

In [1]:
import pandas as pd
import re
from rdflib import Graph, Literal, RDF, URIRef, Namespace #basic RDF handling
from rdflib.namespace import FOAF , XSD, SOSA

In [205]:
url16 = 'https://www.meteociel.fr/temps-reel/obs_villes.php?code2=7475&jour2=16&mois2=10&annee2=2021'
dfs16 = pd.read_html(url16)
df16 = dfs16[4]

masque=df16[0].str.contains('^\d+ h', na=False)
df16=df16[masque]
df16=df16[[0,4]]
df16.columns=["time","outsideTemp"]

In [206]:
df16

    time outsideTemp
7   23 h      4.7 °C
8   22 h      5.2 °C
9   21 h      5.2 °C
10  20 h      5.3 °C
11  19 h      5.4 °C
12  18 h      5.4 °C
13  17 h      5.8 °C
14  16 h      6.4 °C
15  15 h      6.6 °C
16  14 h      6.7 °C
17  13 h      6.8 °C
18  12 h      6.7 °C
19  11 h      6.5 °C
20  10 h      6.4 °C
21   9 h      6.3 °C
22   8 h      6.2 °C
23   7 h      6.2 °C
24   6 h      6.2 °C
25   5 h      6.3 °C
26   4 h      6.4 °C
27   3 h      6.5 °C
28   2 h      6.6 °C
29   1 h      6.7 °C
30   0 h      6.9 °C

In [207]:

heures = []
outsideTemps = []
for index, row in df16.iterrows() :
    #time = row['time']
    
    heure = re.findall("(\d+) h",row['time'])
    outsideTemp = re.findall("(\d.?\d) °C",row['outsideTemp'])
    #heure = heure.split("[")
    heures.append(heure[0])
    outsideTemps.append(outsideTemp[0])
    #index+=1
#print(heures)
#print(outsideTemps)
df16['time']=heures
df16['outsideTemp']=outsideTemps
df16

   time outsideTemp
7    23         4.7
8    22         5.2
9    21         5.2
10   20         5.3
11   19         5.4
12   18         5.4
13   17         5.8
14   16         6.4
15   15         6.6
16   14         6.7
17   13         6.8
18   12         6.7
19   11         6.5
20   10         6.4
21    9         6.3
22    8         6.2
23    7         6.2
24    6         6.2
25    5         6.3
26    4         6.4
27    3         6.5
28    2         6.6
29    1         6.7
30    0         6.9

In [208]:
#df['day'] = [extract_date_from(url)]*len(df.index)
df16['day'] = ['2021-11-16']*len(df.index)
df16
df16.to_csv("meteo16Nov.csv".format(url),header= df16.columns , index=False)

In [209]:
url16csv=r'meteo16Nov.csv'
df16_=pd.read_csv(url16csv, sep=",")
#df1.outsideTemp

df16_

    time  outsideTemp         day
0     23          4.7  2021-11-16
1     22          5.2  2021-11-16
2     21          5.2  2021-11-16
3     20          5.3  2021-11-16
4     19          5.4  2021-11-16
5     18          5.4  2021-11-16
6     17          5.8  2021-11-16
7     16          6.4  2021-11-16
8     15          6.6  2021-11-16
9     14          6.7  2021-11-16
10    13          6.8  2021-11-16
11    12          6.7  2021-11-16
12    11          6.5  2021-11-16
13    10          6.4  2021-11-16
14     9          6.3  2021-11-16
15     8          6.2  2021-11-16
16     7          6.2  2021-11-16
17     6          6.2  2021-11-16
18     5          6.3  2021-11-16
19     4          6.4  2021-11-16
20     3          6.5  2021-11-16
21     2          6.6  2021-11-16
22     1          6.7  2021-11-16
23     0          6.9  2021-11-16

In [210]:
#changing format of time, to have the same as in the definition of daily csv 
#ns1:time "2021-11-15T06:32:52"^^xsd:dateTime
from datetime import datetime
def convertTime(s):
    print(str(datetime.strptime(s, '%H').strftime('%H:%M:%S').lower()))
    
timee=[]
for index, row in df16_.iterrows() : 

    timee.append(row['time'])

In [211]:
print(timee)

[23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [212]:
timeee=[]
for i in timee :
    i = str(i)
    
    i = convertTime(i)
    #i = str(i) if i is None else str(i)
    timeee.append(i)
    #timeee.extend(i)
#print(timeee)

23:00:00
22:00:00
21:00:00
20:00:00
19:00:00
18:00:00
17:00:00
16:00:00
15:00:00
14:00:00
13:00:00
12:00:00
11:00:00
10:00:00
09:00:00
08:00:00
07:00:00
06:00:00
05:00:00
04:00:00
03:00:00
02:00:00
01:00:00
00:00:00

In [213]:
list_time = ['23:00:00', '22:00:00', '21:00:00', '20:00:00', '19:00:00', '18:00:00', '17:00:00', 
             '16:00:00', '15:00:00', '14:00:00', '13:00:00', '12:00:00', '11:00:00','10:00:00',
            '09:00:00','08:00:00','07:00:00','06:00:00','05:00:00','04:00:00','03:00:00','02:00:00','01:00:00',
            '00:00:00']

In [214]:
df16_['hours']=list_time
df16_
df16_['dateTim']=[row['day']+'T']*len(df16_.index)
df16_

df16_['dateTime'] = df16_['dateTim'][0]+df16_['hours']
df16_

    time  outsideTemp         day     hours      dateTim             dateTime
0     23          4.7  2021-11-16  23:00:00  2021-11-16T  2021-11-16T23:00:00
1     22          5.2  2021-11-16  22:00:00  2021-11-16T  2021-11-16T22:00:00
2     21          5.2  2021-11-16  21:00:00  2021-11-16T  2021-11-16T21:00:00
3     20          5.3  2021-11-16  20:00:00  2021-11-16T  2021-11-16T20:00:00
4     19          5.4  2021-11-16  19:00:00  2021-11-16T  2021-11-16T19:00:00
5     18          5.4  2021-11-16  18:00:00  2021-11-16T  2021-11-16T18:00:00
6     17          5.8  2021-11-16  17:00:00  2021-11-16T  2021-11-16T17:00:00
7     16          6.4  2021-11-16  16:00:00  2021-11-16T  2021-11-16T16:00:00
8     15          6.6  2021-11-16  15:00:00  2021-11-16T  2021-11-16T15:00:00
9     14          6.7  2021-11-16  14:00:00  2021-11-16T  2021-11-16T14:00:00
10    13          6.8  2021-11-16  13:00:00  2021-11-16T  2021-11-16T13:00:00
11    12          6.7  2021-11-16  12:00:00  2021-11-16T  2021-11-16T12:00:00
12    11          6.5  2021-11-16  11:00:00  2021-11-16T  2021-11-16T11:00:00
13    10          6.4  2021-11-16  10:00:00  2021-11-16T  2021-11-16T10:00:00
14     9          6.3  2021-11-16  09:00:00  2021-11-16T  2021-11-16T09:00:00
15     8          6.2  2021-11-16  08:00:00  2021-11-16T  2021-11-16T08:00:00
16     7          6.2  2021-11-16  07:00:00  2021-11-16T  2021-11-16T07:00:00
17     6          6.2  2021-11-16  06:00:00  2021-11-16T  2021-11-16T06:00:00
18     5          6.3  2021-11-16  05:00:00  2021-11-16T  2021-11-16T05:00:00
19     4          6.4  2021-11-16  04:00:00  2021-11-16T  2021-11-16T04:00:00
20     3          6.5  2021-11-16  03:00:00  2021-11-16T  2021-11-16T03:00:00
21     2          6.6  2021-11-16  02:00:00  2021-11-16T  2021-11-16T02:00:00
22     1          6.7  2021-11-16  01:00:00  2021-11-16T  2021-11-16T01:00:00
23     0          6.9  2021-11-16  00:00:00  2021-11-16T  2021-11-16T00:00:00

In [215]:
#"2021-11-15T06:32:52"^^xsd:dateTime
from rdflib import Graph

g = Graph()

schema = Namespace('http://schema.org/')
sosa = Namespace('http://www.w3.org/ns/sosa/')

for index, row in df16_.iterrows() :
    jour = f'Day_{row["day"]}_{row["time"]}'
    #day = f'Day_{row["day"]}' #.rsplit("/",1)[-1]}
    g.add((URIRef(schema+f'{jour}/'), URIRef(schema+'time'), Literal(row['dateTime'], datatype=XSD.dateTime)))
    g.add((URIRef(schema+f'{jour}/'), URIRef(schema+'outsideTemp'), Literal(row["outsideTemp"], datatype=XSD.float)))
    #g.add((URIRef(schema+f'{jour}/'), URIRef(schema+'outsideHmdt'), Literal(row['humidity'], datatype=XSD.string)))
    g.serialize('meteo16Nov_.ttl',format='turtle')