In [91]:
import pandas as pd
import re
from rdflib import Graph, Literal, RDF, URIRef, Namespace #basic RDF handling
from rdflib.namespace import FOAF , XSD, SOSA

In [92]:
url15 = 'https://www.meteociel.fr/temps-reel/obs_villes.php?code2=7475&jour2=15&mois2=10&annee2=2021'
dfs15 = pd.read_html(url15)
df15 = dfs15[4]

masque=df15[0].str.contains('^\d+ h', na=False)
df15=df15[masque]
df15=df15[[0,4]]
df15.columns=["time","outsideTemp"]

In [93]:
df15['outsideTemp'][7]='7.0 °C'
df15

    time outsideTemp
7   23 h      7.0 °C
8   22 h      7.1 °C
9   21 h      7.1 °C
10  20 h      7.1 °C
11  19 h      7.1 °C
12  18 h      7.3 °C
13  17 h      7.4 °C
14  16 h      7.5 °C
15  15 h      7.5 °C
16  14 h      7.8 °C
17  13 h      7.8 °C
18  12 h      7.4 °C
19  11 h      7.2 °C
20  10 h      7.2 °C
21   9 h      7.2 °C
22   8 h      7.2 °C
23   7 h      7.3 °C
24   6 h      7.4 °C
25   5 h      7.5 °C
26   4 h      7.5 °C
27   3 h      7.6 °C
28   2 h      7.4 °C
29   1 h      7.2 °C
30   0 h      7.5 °C

In [94]:
heures = []
outsideTemps = []
for index, row in df15.iterrows() :
    #time = row['time']
    
    heure = re.findall("(\d+) h",row['time'])
    outsideTemp = re.findall("(\d.?\d) °C",row['outsideTemp'])
    #heure = heure.split("[")
    heures.append(heure[0])
    outsideTemps.append(outsideTemp[0])
    #index+=1
#print(heures)
#print(outsideTemps)
df15['time']=heures
df15['outsideTemp']=outsideTemps
df15

   time outsideTemp
7    23         7.0
8    22         7.1
9    21         7.1
10   20         7.1
11   19         7.1
12   18         7.3
13   17         7.4
14   16         7.5
15   15         7.5
16   14         7.8
17   13         7.8
18   12         7.4
19   11         7.2
20   10         7.2
21    9         7.2
22    8         7.2
23    7         7.3
24    6         7.4
25    5         7.5
26    4         7.5
27    3         7.6
28    2         7.4
29    1         7.2
30    0         7.5

In [98]:
#df['day'] = [extract_date_from(url)]*len(df.index)
df15['day'] = ['2021-11-15']*len(df15.index)
df15
df15.to_csv("meteo15Nov.csv",header= df15.columns , index=False)

In [99]:
url15csv=r'meteo15Nov.csv'
df15_=pd.read_csv(url15csv, sep=",")
#df1.outsideTemp

df15_

    time  outsideTemp         day
0     23          7.0  2021-11-15
1     22          7.1  2021-11-15
2     21          7.1  2021-11-15
3     20          7.1  2021-11-15
4     19          7.1  2021-11-15
5     18          7.3  2021-11-15
6     17          7.4  2021-11-15
7     16          7.5  2021-11-15
8     15          7.5  2021-11-15
9     14          7.8  2021-11-15
10    13          7.8  2021-11-15
11    12          7.4  2021-11-15
12    11          7.2  2021-11-15
13    10          7.2  2021-11-15
14     9          7.2  2021-11-15
15     8          7.2  2021-11-15
16     7          7.3  2021-11-15
17     6          7.4  2021-11-15
18     5          7.5  2021-11-15
19     4          7.5  2021-11-15
20     3          7.6  2021-11-15
21     2          7.4  2021-11-15
22     1          7.2  2021-11-15
23     0          7.5  2021-11-15

In [101]:
#ns1:time "2021-11-15T06:32:52"^^xsd:dateTime
from datetime import datetime
def convertTime(s):
    print(str(datetime.strptime(s, '%H').strftime('%H:%M:%S').lower()))
    
timee=[]
for index, row in df15_.iterrows() : 

    timee.append(row['time'])
list_time = ['23:00:00', '22:00:00', '21:00:00', '20:00:00', '19:00:00', '18:00:00', '17:00:00', 
             '16:00:00', '15:00:00', '14:00:00', '13:00:00', '12:00:00', '11:00:00','10:00:00',
            '09:00:00','08:00:00','07:00:00','06:00:00','05:00:00','04:00:00','03:00:00','02:00:00','01:00:00',
            '00:00:00']

In [102]:
df15_['hours']=list_time
df15_
df15_['dateTim']=[row['day']+'T']*len(df15_.index)
df15_

df15_['dateTime'] = df15_['dateTim'][0]+df15_['hours']
df15_

    time  outsideTemp         day     hours      dateTim             dateTime
0     23          7.0  2021-11-15  23:00:00  2021-11-15T  2021-11-15T23:00:00
1     22          7.1  2021-11-15  22:00:00  2021-11-15T  2021-11-15T22:00:00
2     21          7.1  2021-11-15  21:00:00  2021-11-15T  2021-11-15T21:00:00
3     20          7.1  2021-11-15  20:00:00  2021-11-15T  2021-11-15T20:00:00
4     19          7.1  2021-11-15  19:00:00  2021-11-15T  2021-11-15T19:00:00
5     18          7.3  2021-11-15  18:00:00  2021-11-15T  2021-11-15T18:00:00
6     17          7.4  2021-11-15  17:00:00  2021-11-15T  2021-11-15T17:00:00
7     16          7.5  2021-11-15  16:00:00  2021-11-15T  2021-11-15T16:00:00
8     15          7.5  2021-11-15  15:00:00  2021-11-15T  2021-11-15T15:00:00
9     14          7.8  2021-11-15  14:00:00  2021-11-15T  2021-11-15T14:00:00
10    13          7.8  2021-11-15  13:00:00  2021-11-15T  2021-11-15T13:00:00
11    12          7.4  2021-11-15  12:00:00  2021-11-15T  2021-11-15T12:00:00
12    11          7.2  2021-11-15  11:00:00  2021-11-15T  2021-11-15T11:00:00
13    10          7.2  2021-11-15  10:00:00  2021-11-15T  2021-11-15T10:00:00
14     9          7.2  2021-11-15  09:00:00  2021-11-15T  2021-11-15T09:00:00
15     8          7.2  2021-11-15  08:00:00  2021-11-15T  2021-11-15T08:00:00
16     7          7.3  2021-11-15  07:00:00  2021-11-15T  2021-11-15T07:00:00
17     6          7.4  2021-11-15  06:00:00  2021-11-15T  2021-11-15T06:00:00
18     5          7.5  2021-11-15  05:00:00  2021-11-15T  2021-11-15T05:00:00
19     4          7.5  2021-11-15  04:00:00  2021-11-15T  2021-11-15T04:00:00
20     3          7.6  2021-11-15  03:00:00  2021-11-15T  2021-11-15T03:00:00
21     2          7.4  2021-11-15  02:00:00  2021-11-15T  2021-11-15T02:00:00
22     1          7.2  2021-11-15  01:00:00  2021-11-15T  2021-11-15T01:00:00
23     0          7.5  2021-11-15  00:00:00  2021-11-15T  2021-11-15T00:00:00

In [103]:
#"2021-11-15T06:32:52"^^xsd:dateTime
from rdflib import Graph

g = Graph()

schema = Namespace('http://schema.org/')
sosa = Namespace('http://www.w3.org/ns/sosa/')

for index, row in df15_.iterrows() :
    jour = f'Day_{row["day"]}_{row["time"]}'
    #day = f'Day_{row["day"]}' #.rsplit("/",1)[-1]}
    g.add((URIRef(schema+f'{jour}/'), URIRef(schema+'time'), Literal(row['dateTime'], datatype=XSD.dateTime)))
    g.add((URIRef(schema+f'{jour}/'), URIRef(schema+'outsideTemp'), Literal(row["outsideTemp"], datatype=XSD.float)))
    #g.add((URIRef(schema+f'{jour}/'), URIRef(schema+'outsideHmdt'), Literal(row['humidity'], datatype=XSD.string)))
    g.serialize('meteo15Nov_.ttl',format='turtle')